@viewport{width:device-width}
@import 'https://fonts.googleapis.com/css2?family=Staatliches&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Anton&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Aldrich&family=Press+Start+2P&display=swap';
@import 'https://fonts.googleapis.com/css?family=Press Start 2P';
@import 'https://fonts.googleapis.com/css2?family=Lobster&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Caudex:ital@1&display=swap';


/* GENERAL>>> */
* {
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration:none;
    color:black;
}
/* <<<GENERAL */


/* BODY>>> */
body{
    display:grid;
    text-align:center;
    /* grid-template-columns:repeat(5, 1fr); */
    grid-auto-rows:auto;
    background-color: #041c32;
}
/* <<<BODY */


/* HEADER>>> */
header{
    grid-column:1/6;
    height:95vh;
    margin:3em 0;
    box-shadow:0em .5em .7em;
}
header div{
    position:absolute;
    top:30%;
    left:25%;
    width:50%;
    background-color:#ffcc33;
    padding:2em;
    border-radius:1em 1em 1em 1em;
    transition:.9s;
    text-align: end;
    /* opacity:0; */
}
header div:hover{
    background-color: #ffcc33;
    opacity: 1;
}
header div:hover h1{
    width:0%;
}
header div:hover h1 + h1{
    width: 100%;
}
header div h1{
    font-size: 5em;
    width: 100%;
    transition:.9s;
    font-family: 'Lobster';
    color:white;
    text-shadow: -1.2px -1.2px 0 #000, 1.2px -1.2px 0 #000, -1.2px 1.2px 0 #000, 1.2px 1.2px 0 #000;
}
header div h1 + h1{
    width: 0%;
}
/* <<<HEADER */


/* NAV>>> */
nav{
    position:fixed;
    width:100%;
    height:3em;
    top:0;
    left:0;
    background-image: linear-gradient(to right, #041c32 , #ffcc33);
    box-shadow:-.2em .5em 1em;
    z-index:2;
}
nav ul {
    height:100%;
    transition:.5;
    list-style: none;
}

nav ul li{
    width:10%;
    padding:0;
    height:100%;
    float:right;
}
nav ul a{
    font-size:120%;
    font-family: 'Staatliches', cursive;
    background-color:#ffcc33;
    color: #041c32;
    height:100%;
    width:100%;
    display:inline-block;
    transition:1s;
}
nav ul ul li{
    width:100%;
    display: block;
}
nav ul a:hover{
    background-color:ghostwhite;
    color: #041c32;
    transition:.5s;
}
.currentLocation{
    background-color:ghostwhite;
    color: #041c32;
}
nav ul ul{
    top:100%;
    height:0;
    width:100%;
    opacity:0;
    transition:.4s;
}
nav li:hover ul{
    opacity:1;
    height:100%;
}
nav li:hover #dropDown{
    transition:.5s;
}

/* <<<NAV */


/* MAIN>>> */
/* GENERAL>>> */
main{
    background-color:rgba(65, 74, 76,0);
    display:grid;
    font-family: 'caudex';
    grid-column:1/6;
    margin:0;
}
main p{
    margin:.5em;
}
#homePage main{
    grid-template-columns: repeat(5, 1fr);
    grid-row:2/4;
    grid-auto-rows: 30em;
    row-gap: 6em;
    margin: 1.5em;
}
#gamesPage main{
    grid-template-columns: repeat(4, 1fr);
    margin:2em;
    padding-bottom: 1em;
    border-radius: 1em 1em 1em 1em;
}
#websitesPage main{
    grid-template-columns: repeat(4, 1fr);
    overflow-x: hidden;
    transition:1s;
}
#learning main{
    width: 95vw;
    margin:2%;
    border-radius: 1em 1em 1em 1em;
}
#gamesPage main, #websitesPage main, #learning main{
    background-color: ghostwhite;
    grid-row:1/2;
    grid-auto-rows:auto;
    margin-top:8em;
    overflow: hidden;
}
/* <<<GENERAL */
/* HOMEPAGE SPECIFIC>>> */
#homePage main section{
    grid-column:1/6;
    border-radius:1em 1em 1em 1em;
    box-shadow:0em .5em .7em;
    opacity:.85;
    display:grid;
    grid-template-columns:50% 50%;
    background-color:ghostwhite;
    color: #3a4750;
    transition:.5s;
    overflow: hidden;
    font-size: 123%;
}
#homePage main section:hover{
    opacity: 1;
}
#homePage main section:first-child,#homePage main section:first-child *{
    opacity:1;
    grid-column: 2/5;
}
#homePage main section:first-child h1,#homePage main section:first-child p{
    grid-column:1/3;
}
#homePage main section:first-child p{
    margin:2em;
}
#homePage main section:nth-child(2),#homePage main section:nth-child(4){
    margin-right: 100%;
    grid-column:3/6;
}
#homePage main section:nth-child(2) h1,#homePage main section:nth-child(4) h1{
    border-radius: 0em 0em 0em 1em;
    grid-column:2/3;
}
#homePage main section:nth-child(3),#homePage main section:nth-child(5){
    margin-left: 100%;
    grid-column:1/4;
}
#homePage main section:nth-child(3) h1,#homePage main section:nth-child(5) h1{
    border-radius: 0em 0em 1em 0em;
    grid-column:1/2;
}
#homePage main section:nth-child(2) p,#homePage main section:nth-child(4) p,#homePage main section:nth-child(3) img,#homePage main section:nth-child(5) img{
    grid-column:2/3;
}
#homePage main section:nth-child(3) p,#homePage main section:nth-child(5) p,#homePage main section:nth-child(2) img,#homePage main section:nth-child(4) img{
    grid-column:1/2;
}
#homePage main h1{
    background-color: #ffcc33;
    color: #3a4750;
    height: 2em;
    margin-top: 0;
}
#homePage main section img{
    width:80%;
    height:auto;
    transition:1s;
    grid-column: 1/3;
    grid-row: 1/3;
    margin:auto auto;
    opacity:0;
    border-radius: 1em 1em 1em 1em;
}
.visible{
    opacity:1 !important;
}
.invisible{
    opacity:0;
}
.vertical{
    width:65%;
}
.verticalLong{
    width:45% !important;
}
/* <<<HOMEPAGE SPECIFIC */
/* GAMESPAGE SPECIFIC>>> */
#gamesPage main ul{
    background-color: ghostwhite;
    grid-column:1/5;
    height:2.5em;
    transition:.5;
    list-style: none;
    margin: 1em 0;
}
#gamesPage main ul li{
    width:10%;
    height:100%;
    display: inline-block;
}
#gamesPage main ul button{
    background-color: ghostwhite;
    font-family: 'caudex';
    font-size: 110%;
    width:100%;
    padding:0;
    height:100%;
}
#gamesPage main ul button:hover{
    cursor: pointer;
}
#gamesPage main section:nth-child(2),#gamesPage main section:nth-child(3){
    grid-column: 1/2;
}
#gamesPage main section:nth-child(3),#gamesPage main section:nth-child(5){
    grid-column: 4/5;
}
#gamesPage main section:nth-child(2),#gamesPage main section:nth-child(3){
    grid-row: 2/3;
}
#gamesPage main section:nth-child(4),#gamesPage main section:nth-child(5){
    grid-row: 3/4;
}
#gamesPage section h1{
    grid-column: 1/3;
}
#controls{
    grid-row:1;
    grid-column:4;
}
#controls button{
    display:block;
    width: 100%;
    font-size: 140%;
    font-family: 'caudex';
    background-color: ghostwhite;
    margin:auto;
    padding:.5em 0;
}
#gamesPage main img{
    position: absolute;
    top:50%;
    left:45%;
    width:10%;
}
/* #gameHistory{
    grid-row:2;
    grid-column:1;
}
#keyBindings{
    grid-row:2;
    grid-column:4;
} */
#gamesPage main div table{
    margin:2em 2em;
}
/* #gamesPage main button{
    grid-row:2;
    grid-column:4;
} */
/* <<<GAMESPAGE SPECIFIC */
/* WEBSITEPAGE SPECIFIC>>> */
#websitesPage main > div{
    grid-column: 1/5;
    display:grid;
    text-align: left;
    grid-template-columns: 50% 50%;
    background-color: ghostwhite;
}
#websitesPage main div h1{
    margin-left: 5%;
}
#websitesPage main div div{
    grid-column: 2/3;
    grid-row: 1/2;
    display: inline-block;
    text-align: end;
}
#websitesPage main div button{
    height:100%;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 2em;
    transition: .5s;
}
#websitesPage main div button:nth-child(1){
    opacity:0;
}
#websitesPage main div button:hover{
    background-color: ghostwhite;
}
#websitesPage main > section{
    grid-column: 1/5;
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    /* height:50em; */
    overflow: hidden;
    left:-100vw;
}
#websitesPage main article{
    background-color: ghostwhite;
    height:50em;
    margin-left: 100%;
    transition:.5s;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows:10% 45% 45%;
}
#websitesPage main article section{
    margin:0 2em;
}
#websitesPage main article section:nth-of-type(1),#websitesPage main article section:nth-of-type(2){
    grid-column: 1/2;
}
#websitesPage main article section:nth-of-type(2){
    text-align: left;
}
#websitesPage main article section:nth-of-type(3){
    grid-column: 2/3;
    grid-row: 2/4;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
#websitesPage main article section:nth-of-type(2) ul,#websitesPage main article section:nth-of-type(2) h1{
    margin-top:1.5em;
}
#websitesPage main > section article h1{
    grid-column: 1/3;
}
#websitesPage main > section article p{
    grid-column: 1/2;
}
#websitesPage main img{
    display: block;
    width:90%;
    height:auto;
    margin: auto;
    opacity:0;
    transition:.5s;
    grid-column: 1/2;
    grid-row: 1/2;
    border-radius: 1em 1em 1em 1em;
    box-shadow: 0.3em 0.3em 0.3em;
}
#websitesPage main > section article:nth-child(1){
    margin-left: 0;
    width: 100vw;
}
/* <<<WEBSITEPAGE SPECIFICS */
/* LEARNING SPECIFICS>>> */
#learning main span{
    /* max-height: 15em; */
    max-width: 95vw;
    background-color: ghostwhite;
    border-bottom: #000 solid;
}
#learning main span ul{
    list-style: none;
    width: 100%;
}
#learning main span li{
    display: inline-block;
    width: 10%;
    overflow: hidden;
    margin-right: 5%;
}
#learning main span img{
    width: 90%;
    height: auto;
    margin:5%;
    transition:.5s
}
#learning main span img:hover{
    cursor: pointer;
    margin:0;
}
#learningDisplay{
    width: 100%;
    height:auto;
    display: block;
    transition:.5s;
}
#learningDisplay section{
    background-color: ghostwhite;
    margin: 2em;
}
/* <<<LEARNING SPECIFICS */
/* <<<MAIN */


/* ASIDE>>> */
/* GENERAL>>> */
aside{
    grid-column:1/6;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    background-color:ghostwhite;
    color: #3a4750;
    transition:.5s;
    font-family: 'caudex';
    font-size: 110%;
}
aside h1{
    background-color:#ffcc33;
    color: #3a4750;
    padding: .5em 0;
}
aside > h1{
    grid-column: 1/4;
    height:2em;
    padding:0;
    font-family: 'Lobster';
}
aside p{
    margin: 0em 2.5em 1em 2.5em;
}
aside img{
    max-width:75%;
    height:auto;
    margin-top:1em;
    margin-bottom:1em;
    box-shadow:.5em .5em .4em;
    transition:.3s;
}
aside a{
    transition: .3s;
}
aside a:hover{
    background-color:#041c32;
    color: ghostwhite;
}
/* <<<GENERAL */
/* HOMEPAGE SPECIFIC>>> */
#homePage aside{
    grid-row:4/5; 
}
/* <<<HOMEPAGE SPECIFIC */
/* GAMESPAGE SPECIFIC>>> */
#gamesPage aside{
    grid-row:5/6;
}
#gamesPage aside h1{
    grid-column:1/4;
}
/* <<<GAMESPAGE SPECIFIC */
/* <<<ASIDE */


/* FOOTER>>> */
footer{
    grid-column:1/6;
    grid-row:4/5;
    text-align: center;
    /* background-image: linear-gradient(to bottom, #041c32 , ghostwhite); */
    background-color: #041c32;
    color: ghostwhite;
    min-height: 3.5em;
    height:auto;
    display:grid;
    text-align:center;
    grid-template-columns:repeat(5, 1fr);
    /* border-top:.5em solid; */
    padding-top:1.5em;
    z-index:1;
}
footer *{
    grid-row: 1/2;
    padding-bottom: .5em;
}
#homePage footer{
    grid-row:5/6;
}
#gamesPage footer{
    grid-row:6/7;
}
footer li{
    display: inline-block;
    padding:0;
    height:100%;
}
footer img{
    width:2em;
}
footer section:nth-child(1){
    font-family: 'Cinzel', serif;
    grid-column:2/5;
    font-size:1.75em;
}
footer section:nth-child(3){
    grid-column: 1/2;
}
/* footer section:nth-child(4){
    grid-column:1/6;
    grid-row:2;
    color: #041c32;
} */
/* <<<FOOTER */


/* CANVAS>>> */
header canvas{
    width: 100%;
    height: 100%;
    background-color:black;
    z-index: 1;
}
main canvas{
    background-color:black;
    width:100%;
    grid-column:2/4;
    grid-row:2/4;
}
/* <<<CANVAS */


/* DIFFERNT SCREEN SIZES>>> */
/* LAPTOP>>> */
@media only screen and (max-width: 1280px) {
    /* HOME PAGE>>> */
    #homePage main{
        grid-template-columns: repeat(5, 1fr);
        grid-column:1/6;
        grid-row:2/4;
        grid-auto-rows: auto;
        row-gap: 5em;
        font-size: 85%;
    }
    #homePage main section{
        max-height: 22em;
    }
    #homePage main section:nth-child(2),#homePage main section:nth-child(4){
        grid-column: 2/6;
    }
    #homePage main section:nth-child(3),#homePage main section:nth-child(5){
        grid-column: 1/5;
    }
    #homePage main section img{
        margin: 2em auto;
        width:80%;
        /* height:auto;
        transition:1s;
        grid-column: 1/3;
        grid-row: 1/3;
        margin:auto auto;
        opacity:0;
        border-radius: 1em 1em 1em 1em; */
    }
    /* <<<HOME PAGE */
    /* GAMESPAGE>>> */
    #gamesPage main{
        margin: 4em 0;
    }
    #gamesPage main ul li {
        width: 17.5%;
    }
    #gamesPage main section{
        font-size: 90%;
    }
    #controls button{
        font-size: 110%;
        font-family: 'caudex';
        background-color: ghostwhite;
        padding:.25em 0;
    }
    #gamesPage main img{
        top:45%;
        left:45%;
    }
    /* <<<GAMESPAGE */
    /* WEBSITES PAGE>>> */
    #websitesPage main article{
        height: 60em;
    }
    #websitesPage main article section:nth-of-type(2){
        grid-column: 1/3;
    }
    #websitesPage main article section:nth-of-type(3){
        grid-row: 2/3;
    }
    /* <<<WEBSITES PAGE */

    /* LAEARNING PAGE>>> */
    /* <<<LEARNING PAGE*/
}
/* <<<LAPTOP */
/* PHONES>>> */
@media only screen and (max-width: 900px) {
    /* HEADER>>> */
    header{
        height:50vh;
        margin: 2em 0;
    }
    header div{
        top:20%;
        left:20%;
        padding:1em;
    }
    header div h1{
        font-size: 2.5em;
    }
    /* <<<HEADER */
    /* NAV>>> */
    nav{
        height:2em;
    }
    nav ul li{
        width:15%;
    }
    nav ul a{
        font-size:90%;
    }
    /* <<<NAV */
    /* HOME PAGE>>> */
    #homePage main section{
        grid-column: 1/6!important;
        font-size: 110%;
        margin: 0 !important;;
        max-height: none;
    }
    /* <<<HOME PAGE */
    /* GAMESPAGE>>> */
    #gamesPage main ul li {
        width: 22%;
        font-size: 90%;
    }
    #gamesPage main section{
        font-size: 80%;
    }
    #gamesPage main canvas{
        grid-column: 1/4;
        grid-row: 2/4;
    }
    #scoreboard,#gameHistory{
        grid-row: 4/5!important;
    }
    #scoreboard{
        grid-column: 1/3;
    }
    #gameHistory{
        grid-column: 3/5;
    }
    #controls button{
        font-size: 100%;
        font-family: 'caudex';
        background-color: ghostwhite;
        padding:.25em 0;
    }
    #gamesPage main img{
        top:45%;
        left:32.5%;
    }
    /* <<<GAMESPAGE */
    /* WEBSITES PAGE>>> */
    /* #websitesPage main section{
        
    } */
    #websitesPage main article{
        display: block;
        height: 85em;
    }
    #websitesPage main article section{
        margin-top: 2em;
    }
    /* #websitesPage main article section:nth-of-type(2){
        grid-column: 1/3;
    }
    #websitesPage main article section:nth-of-type(3){
        grid-row: 2/3;
    } */
    /* <<<WEBSITES PAGE */    
    /* LAEARNING PAGE>>> */
    #learning main span ul{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
    }
    #learning main span li{
        width: 30%;
        margin: auto;
        text-align: center;
    }
    /* <<<LEARNING PAGE*/
    /* ASIDE>>> */
    aside{
        display: block;
    }
    aside a:hover{
        color:#041c32;
        background-color: ghostwhite;
    }
    /* <<<ASIDE */
    /* FOOTER>>> */
    footer section:nth-child(1){
        font-family: 'Cinzel', serif;
        grid-column:2/4;
        font-size:1.5em;
    }
    footer section:nth-child(2){
        grid-column:4/6;
    }
    /* <<<FOOTER */
}
@media only screen and (max-width: 600px) {
    /* HEADER>>> */
    header{
        height:50vh;
        margin: 2em 0;
    }
    header div{
        top:20%;
        left:20%;
        padding:.8em;
    }
    header div h1{
        font-size: 2em;
    }
    /* <<<HEADER */
    /* NAV>>> */
    nav ul li{
        width:25%;
    }
    nav ul a{
        font-size:100%;
        /* font-family: 'Staatliches', cursive;
        background-color:#ffcc33;
        color: #041c32;
        height:100%;
        width:100%;
        display:inline-block;
        transition:1s; */
    }
    nav ul li:hover li{
        /* width:100%; */
        height: auto;
        /* display: block; */
    }
    nav ul li:hover a{
        padding: .5em 0;
    }
    /* <<<NAV */
    /* HOMEPAGE>>> */
    #homePage main{
        grid-auto-rows: auto;
    }
    #homePage main section h1,#homePage main section p,#homePage main section img{
        grid-column: 1/3!important;
    }
    #homePage main section h1{
        border-radius: 0%!important;
        min-height: 2em;
        height: auto;
    }
    #homePage main section img{
        grid-row: 3/4;
        margin:1em auto;
    }
    /* <<<HOMEPAGE */
    /* GAMESPAGE>>> */
    #gamesPage main ul li {
        width: 22%;
        font-size: 70%;
    }
    #gamesPage main section{
        font-size: 60%;
    }
    #gamesPage main canvas{
        grid-column: 1/5;
        grid-row: 2/3;
    }
    #controls,#keyBindings{
        grid-row: 3/4!important;
    }
    /* #scoreboard,#gameHistory{
        grid-row: 4/5!important;
    } */
    #controls{
        grid-column: 1/3!important;
    }
    #keyBindings{
        grid-column: 3/5!important;
    }
    #controls button{
        font-size: 100%;
        font-family: 'caudex';
        background-color: ghostwhite;
        padding:.25em 0;
    }
    #gamesPage main img{
        top:45%;
        left:45%;
    }
    /* <<<GAMESPAGE */
    /* WEBSITES PAGE>>> */
    #websitesPage main article{
        height: 90em;
    }
    /* <<<WEBSITES PAGE */
    /* FOOTER>>> */
    footer{
        display: block;
    }
    /* <<<FOOTER */
}
@media only screen and (max-width: 400px) {
    /* HEADER>>> */
    header div{
        width:70%;
        left:12.5%;
    }
    /* <<<HEADER */
    /* NAV>>> */
    nav{
        font-size: 89%;
    }
    /* <<<NAV */
}
/* <<<PHONES */
/* <<<DIFFERENT SCREEN SIZES */

/* TO DELETE>>> */

/* <<<TO DELETE */