@viewport{width:device-width}
@import 'https://fonts.googleapis.com/css2?family=Staatliches&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Anton&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Aldrich&family=Press+Start+2P&display=swap';
@import 'https://fonts.googleapis.com/css?family=Press Start 2P';
@import 'https://fonts.googleapis.com/css2?family=Lobster&display=swap';


/* GENERAL>>> */
* {
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration:none;
    color:black;
}
/* <<<GENERAL */


/* BODY>>> */
body{
    display:grid;
    text-align:center;
    grid-template-columns:repeat(5, 1fr);
    grid-auto-rows:auto;
    background-color: #303841;
}
/* <<<BODY */


/* HEADER>>> */
header{
    grid-column:1/6;
    height:58em;
    margin:3em 0;
    box-shadow:0em .5em .7em;
}
header div{
    position:absolute;
    top:30%;
    left:25%;
    width:50%;
    background-color:salmon;
    padding:2em;
    border-radius:1em 1em 1em 1em;
    transition:.9s;
    text-align: end;
    /* opacity:0; */
}
header div:hover{
    background-color: salmon;
    opacity: 1;
}
header div:hover h1{
    width:0%;
}
header div:hover h1 + h1{
    width: 100%;
}
header div h1{
    font-size: 5em;
    width: 100%;
    transition:.9s;
    font-family: 'Lobster';
    color:white;
    text-shadow: -1.2px -1.2px 0 #000, 1.2px -1.2px 0 #000, -1.2px 1.2px 0 #000, 1.2px 1.2px 0 #000;
}
header div h1 + h1{
    width: 0%;
}
/* <<<HEADER */


/* NAV>>> */
nav{
    position:fixed;
    width:100%;
    height:3em;
    top:0;
    left:0;
    background-image: linear-gradient(to right, #303841 , salmon);
    box-shadow:-.2em .5em 1em;
    z-index:2;
}
nav ul {
    height:100%;
    transition:.5;
    list-style: none;
}

nav ul li{
    width:10%;
    padding:0;
    height:100%;
    float:right;
}
nav ul a{
    font-size:120%;
    font-family: 'Staatliches', cursive;
    background-color:salmon;
    color: #303841;
    height:100%;
    width:100%;
    display:inline-block;
    transition:1s;
}
nav ul ul li{
    width:100%;
    display: block;
}
nav ul a:hover{
    background-color:#eeeeee;
    color: #3a4750;
    transition:.5s;
}
nav ul ul{
    top:100%;
    height:0;
    width:100%;
    opacity:0;
    transition:.4s;
}
nav li:hover ul{
    opacity:1;
    height:100%;
}
nav li:hover #dropDown{
    transition:.5s;
}

/* <<<NAV */


/* MAIN>>> */
/* GENERAL>>> */
main{
    background-color:rgba(65, 74, 76,0);
    margin: 1.5em;
    display:grid;
}
#homePage main{
    grid-template-columns: repeat(5, 1fr);
    grid-column:1/6;
    grid-row:2/4;
    grid-auto-rows: 30em;
    row-gap: 6em;
}
#gamesPage main, #websitesPage main{
    background-color: #eeeeee;
    grid-template-columns: repeat(4, 1fr);
    grid-column:1/6;
    grid-row:3/5;
    grid-auto-rows:auto;
    margin:0em 2.5em;
}
#websitesPage main{
    background-color:#eeeeee;
    grid-template-columns: repeat(4, 1fr);
    grid-column:1/6;
    grid-row:2/3;
    grid-auto-rows:auto;
    margin:2.5em;
    overflow-x: hidden;
    transition:1s;
}
#learning main{
    width: 95vw;
    margin-left:2%;
    background-color:#eeeeee;
}
/* <<<GENERAL */
/* HOMEPAGE SPECIFIC>>> */
#homePage main section{
    display:grid;
    grid-template-columns:50% 50%;
    background-color:#eeeeee;
    color: #3a4750;
    transition:.5s;
    overflow: hidden;
}
#homePage main section{
    grid-column:1/6;
    border-radius:1em 1em 1em 1em;
    box-shadow:0em .5em .7em;
}
#homePage main section:first-child,#homePage main section:first-child *{
    opacity:1;
    grid-column: 2/5;
}
#homePage main section:first-child h1,#homePage main section:first-child p{
    grid-column:1/3;
}
#homePage main section:first-child p{
    margin:2em;
}
#homePage main section:nth-child(2),#homePage main section:nth-child(4){
    margin-right: 100%;
    grid-column:3/6;
}
#homePage main section:nth-child(3),#homePage main section:nth-child(5){
    margin-left: 100%;
    grid-column:1/4;
}
#homePage main section:nth-child(2) h1,#homePage main section:nth-child(2) p,#homePage main section:nth-child(4) h1,#homePage main section:nth-child(4) p,#homePage main section:nth-child(3) img,#homePage main section:nth-child(5) img{
    grid-column:2/3;
}
#homePage main section:nth-child(3) h1,#homePage main section:nth-child(3) p,#homePage main section:nth-child(5) h1,#homePage main section:nth-child(5) p,#homePage main section:nth-child(2) img,#homePage main section:nth-child(4) img{
    grid-column:1/2;
}
#homePage main h1{
    background-color: salmon;
    color: #3a4750;
    height: 25%;
    margin-top: 0;
}
#homePage main section img{
    width:80%;
    height:auto;
    transition:1s;
    grid-column: 1/3;
    grid-row: 1/3;
    margin:auto auto;
    opacity:0;
}
.visible{
    opacity:1 !important;
}
.invisible{
    opacity:0;
}
.vertical{
    width:65%;
}
.verticalLong{
    width:45% !important;
}
/* <<<HOMEPAGE SPECIFIC */
/* GAMESPAGE SPECIFIC>>> */
#gamesPage main ul{
    background-color: #303841;
    grid-column:1/5;
    height:2.5em;
    transition:.5;
    list-style: none;
    margin-bottom: 1em;
}
#gamesPage main ul li{
    width:10%;
    height:100%;
    display: inline-block;
}
#gamesPage main ul button{
    background-color: #eeeeee;
    color: #3a4750;
    width:100%;
    padding:0;
    height:100%;
}
#gamesPage main ul button:hover{
    cursor: pointer;
}
#gamesPage main section:nth-child(2),#gamesPage main section:nth-child(3){
    grid-column: 1/2;
}
#gamesPage main section:nth-child(3),#gamesPage main section:nth-child(5){
    grid-column: 4/5;
}
#gamesPage main section:nth-child(2),#gamesPage main section:nth-child(3){
    grid-row: 2/3;
}
#gamesPage main section:nth-child(4),#gamesPage main section:nth-child(5){
    grid-row: 3/4;
}
#gamesPage section h1{
    grid-column: 1/3;
}
#controls{
    grid-row:1;
    grid-column:4;
} */
#controls button{
    display:block;
    margin:auto;
    margin-top:.5em;
}
/* #gameHistory{
    grid-row:2;
    grid-column:1;
}
#keyBindings{
    grid-row:2;
    grid-column:4;
} */
#gamesPage main div table{
    margin:2em 2em;
}
/* #gamesPage main button{
    grid-row:2;
    grid-column:4;
} */
/* <<<GAMESPAGE SPECIFIC */
/* WEBSITEPAGE SPECIFIC>>> */
#websitesPage main{
    margin:0;
}
#websitesPage main > div{
    grid-column: 1/5;
    display:grid;
    text-align: left;
    grid-template-columns: 50% 50%;
    background-color: #eeeeee;
}
#websitesPage main div h1{
    margin-left: 5%;
}
#websitesPage main div div{
    grid-column: 2/3;
    grid-row: 1/2;
    display: inline-block;
    text-align: end;
}
#websitesPage main div button{
    height:100%;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 2em;
    transition: .5s;
}
#websitesPage main div button:nth-child(1){
    opacity:0;
}
#websitesPage main div button:hover{
    background-color: white;
}
#websitesPage main > section{
    grid-column: 1/5;
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    /* height:50em; */
    overflow: hidden;
    left:-100vw;
}
#websitesPage main article{
    background-color: #eeeeee;
    height:50em;
    margin-left: 100%;
    transition:.5s;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows:10% 45% 45%;
}
#websitesPage main article section{
    margin:0 2em;
}
#websitesPage main article section:nth-of-type(1),#websitesPage main article section:nth-of-type(2){
    grid-column: 1/2;
}
#websitesPage main article section:nth-of-type(2){
    text-align: left;
}
#websitesPage main article section:nth-of-type(3){
    grid-column: 2/3;
    grid-row: 2/4;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
#websitesPage main article section:nth-of-type(2) ul,#websitesPage main article section:nth-of-type(2) h1{
    margin-top:1.5em;
}
#websitesPage main > section article h1{
    grid-column: 1/3;
}
#websitesPage main > section article p{
    grid-column: 1/2;
}
#websitesPage main img{
    display: block;
    width:100%;
    height:auto;
    margin:auto;
    margin-top: 2em;
    opacity:0;
    transition:.5s;
    grid-column: 1/2;
    grid-row: 1/2;
}
#websitesPage main > section article:nth-child(1){
    margin-left: 0;
    width: 100vw;
}
/* <<<WEBSITEPAGE SPECIFICS */
/* LEARNING SPECIFICS>>> */
#learning main span{
    max-height: 15em;
    max-width: 95vw;
    background-color: #eeeeee;
    border-bottom: #000 solid;
}
#learning main span ul{
    list-style: none;
    width: 100%;
}
#learning main span li{
    display: inline-block;
    width: 10%;
    overflow: hidden;
    margin-right: 5%;
}
#learning main span img{
    width: 90%;
    height: auto;
    margin:5%;
    transition:.5s
}
#learning main span img:hover{
    cursor: pointer;
    margin:0;
}
#learningDisplay{
    width: 100%;
    height:40em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    transition:.5s;
}
#learningDisplay section{
    background-color: #eeeeee;
    margin: 2em;
}
/* <<<LEARNING SPECIFICS */
/* <<<MAIN */


/* ASIDE>>> */
/* GENERAL>>> */
aside{
    grid-column:1/6;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    background-color:#eeeeee;
    color: #3a4750;
    transition:.5s;
}
aside h1{
    background-color:gold;
    color: #3a4750;
    padding: .5em 0;
}
aside > h1{
    grid-column: 1/4;
    height:2em;
    padding:0;
}
aside p{
    margin: 0em 2.5em 1em 2.5em;
}
aside img{
    max-width:75%;
    height:auto;
    margin-top:1em;
    margin-bottom:1em;
    box-shadow:.5em .5em .4em;
    transition:.3s;
}
aside a{
    transition: .5s;
}
aside a:hover{
    background-color:#3a4750;
    color: #eeeeee;
}
/* <<<GENERAL */
/* HOMEPAGE SPECIFIC>>> */
#homePage aside{
    grid-row:4/5; 
}
/* <<<HOMEPAGE SPECIFIC */
/* GAMESPAGE SPECIFIC>>> */
#gamesPage aside{
    grid-row:5/6;
}
#gamesPage aside h1{
    grid-column:1/4;
}
/* <<<GAMESPAGE SPECIFIC */
/* <<<ASIDE */


/* FOOTER>>> */
footer{
    grid-column:1/6;
    grid-row:4/5;
    text-align: center;
    background-image: linear-gradient(to bottom, #3a4750 , #eeeeee);
    color: #eeeeee;
    height:7em;
    display:grid;
    text-align:center;
    grid-template-columns:repeat(5, 1fr);
    /* border-top:.5em solid; */
    padding-top:1.5em;
    z-index:1;
}
#homePage footer{
    grid-row:5/6;
}
#gamesPage footer{
    grid-row:6/7;
}
footer li{
    display: inline-block;
    padding:0;
    height:100%;
}
footer img{
    width:2em;
}
footer section:nth-child(2){
    font-family: 'Cinzel', serif;
    grid-column:2/5;
    font-size:1.75em;
}
footer section:nth-child(4){
    grid-column:1/6;
    grid-row:2;
    color: #303841;
}
/* <<<FOOTER */


/* CANVAS>>> */
header canvas{
    width: 100%;
    height: 100%;
    background-color:black;
    z-index: 1;
}
main canvas{
    background-color:black;
    width:100%;
    grid-column:2/4;
    grid-row:2/4;
}
/* <<<CANVAS */


/* TO DELETE>>> */

/* <<<TO DELETE */